.container{
    min-width:320px;
    max-width:640px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid greenyellow;
}
.container .header{
    margin: 0.5rem 0rem;
    width: 10%;
   /*position: relative;*/
}
.header-dropdown{
    width: 100%;
    position: relative;
}
.container .content{
    margin-top: 0.5rem;
}
.footer-content{
    width: 100%;
    margin: 0.5rem auto;
    border: 1px solid #5cb85c;
    height: 10rem;
    background-color: #333647;
}
.footer-content div{
    width: 15%;
    float: left;
    margin: 1rem;
}
.footer-content img{
    width: 50%;
    margin: 0 auto;
}
.footer-content span{
  color: #eeeeee;
}